---
const { site, ratingSummary } = Astro.props;
import Button from './Button.astro';
import Stars from './Stars.astro';
import heroVideo from '../assets/videos/hero.mp4';
---

<section
	class="relative overflow-hidden bg-ink-deep h-screen text-white flex flex-col justify-center"
>
	<div>
		<video
			src={heroVideo}
			class="absolute top-0 left-0 w-full h-full object-cover"
			autoplay
			muted
			loop
			playsinline></video>
	</div>
	<div
		class="flex flex-row items-center justify-center gap-96 px-4 py-20 h-full z-10"
	>
		<div
			class="bg-white/10 backdrop-blur-2xl translate-y-20 w-full lg:max-w-4xl rounded-panel p-20 sm:p-12 lg:p-20"
		>
			<h1 class="font-heading text-4xl font-extrabold sm:text-5xl lg:text-6xl">
				{site.name}
				<span class="text-primary">Plumbing</span>
			</h1>
			<p class="mt-6 text-lg sm:text-xl lg:text-2xl">
				Your trusted local plumbing & water filtration experts in Tampa Bay.
			</p>
			<div class="mt-8 flex flex-col gap-4 sm:flex-row">
				<Button href="/contact" variant="primary" size="lg">
					Request Service
				</Button>
				<Button href="/services" variant="secondary" size="lg">
					View Services
				</Button>
			</div>
			<div class="mt-8 flex items-center gap-4">
				<Stars rating={ratingSummary.averageRating} />
				<p class="text-sm font-medium text-white/80">
					Based on {ratingSummary.totalReviews} reviews
				</p>
			</div>
		</div>
	</div>
</section>
